div.header.image {
  max-height: 200px;
}

img.header.image.logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height:inherit;
   max-height: inherit;
}

ul.header {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

ul.header li {
    display:inline;
}

hr.header {
  padding: 1px;
  border-top: 1px;
  background-color: 333;
  margin-top: 1px;
  margin-bottom: 1px;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 600px;
}

h1.content {
  text-align: justify;
}

.content .small {

}

button {

}
